body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
}
label{
    font-weight: bold;
}
@media (min-width:1200px){
  .container{
    width: 1170px;
    margin: 0px auto;
  }
}
.col-valor{
  width: 120px;
  text-align: right;
}
.col-data{
  width: 120px;
  text-align: center;
}
.col-acoes{
  width: 90px;
  text-align: center;
}
a{
  color:#337ab7;
  text-decoration: none;
}
.ui-dropdown-filter-container{
  width: 100%;
}
